.input {
	margin-bottom: 4em;
}

.input__content {
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.input__content label {
	font-size: 2rem;
	font-weight: 600;
}

.input__content input {
	padding: 1em;
	font-size: 1rem;
	transition: all 0.3s;
}

.input__content input:focus {
	outline: none;
}

.input__error {
	color: red;
}

.input--valid {
	border: 0.1em solid var(--gray);
}

.input--invalid {
	border: 0.1em solid red;
}
