.action-button {
	padding: 0.5em 1em;
	font-weight: 600;
	border: 0.2em solid transparent;
	text-transform: uppercase;
	transition: all 0.3s;
	cursor: pointer;
}

.action-button--normal {
	background-color: var(--black-bgc);
	color: white;
}

.action-button--normal:hover {
	border-color: var(--black-bgc);
	background-color: white;
	color: var(--black-bgc);
}

.action-button--inverse {
	border-color: var(--black-bgc);
	background-color: white;
	color: var(--black-bgc);
}

.action-button--inverse:hover {
	border-color: transparent;
	background-color: var(--black-bgc);
	color: white;
}

.action-button--blocked {
	cursor: not-allowed;
}
