.nav {
	position: relative;
	width: 100%;
	height: 5em;
	display: flex;
	align-items: center;
	background-color: var(--black-bgc);
	border-bottom: 0.1em solid var(--gray);
}

.nav__content {
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	color: var(--gray);
}

.nav__content-main {
	display: flex;
	align-items: center;
	gap: 2em;
}

.nav__content-main h1 {
	color: white;
}

.nav__content-links {
	display: flex;
	gap: 2em;
	list-style: none;
}

.nav__content-actions {
	display: flex;
	gap: 1em;
}

.active {
	font-weight: 600;
	color: var(--light-gray);
}

.inactive {
	font-weight: 400;
	color: var(--gray);
}

@media (max-width: 576px) {
	.nav {
		display: none;
	}
}
