.manager {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.manager__actions {
	margin-bottom: 2em;
	display: flex;
	justify-content: space-between;
}

.manager__item {
	display: flex;
	justify-content: space-between;
	transition: all 0.3s;
}

.manager__item--default {
	font-weight: 700;
}

.manager__item--completed {
	color: green;
}

.manager__item--flagged {
	color: red;
}

.manager__list {
	height: 100%;
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	gap: 2em;
	list-style: none;
	overflow-y: scroll;
}

.manager__item-main {
	width: 100%;
}

.manager__item-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.manager__item-status {
	padding: 0.5em 0;
	font-weight: 600;
}

@media (max-width: 576px) {
	.manager__item {
		flex-direction: column;
	}

	.manager__item-actions {
		margin-top: 1em;
		flex-direction: column;
	}
}
